<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unregistered Invitees</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='app_images/tab-logo.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/registered_invitees.css') }}">
    
</head>
<body>
    <header>
        <a href="{{ url_for('home_page') }}" class="logolink"><h1 class="logo">SAM '24</h1></a>
        <h1>Unregistered Invitees</h1>
    </header>
    <main>
        <div class="invitees-container">
            {%  for invitee in invitees %}
                <div class="invitee">
                    <p><span class="label">Name:</span><span class="value">{{ invitee['Full Name'] }}</span></p>
                    <p><span class="label">Phone:</span><span class="value">{{ invitee['Phone Number'] }}</span></p>
                    <p><span class="label">Email:</span><span class="value">{{ invitee['Gmail Address'] }}</span></p>
                    <p><span class="label">Status:</span><span class="value">{{ invitee['Your Relationship with the Celebrants'] }}</span></p>
                </div>
            {% endfor %}
            
             
            
             
            <!-- Add more invitees as needed -->
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Wedding Planner</p>
    </footer>
</body>
</html>
